.rowAddPlayer > div{
    margin-right: 10px;
}

.deleteButton {
    justify-content: flex-start;
    width: 30px;
    padding: 6px 10px !important;
    min-width:0px !important;
}

body {
    background-image: url('/static/img/general/fondo.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.playerInput{
    max-width: 300px;
}

.scoreInput{
    max-width: 100px;
}

.vertical-center {
    margin: 0 !important;
    position: absolute !important;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}